.section {
  padding: 4rem 2rem;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

.sectionFinal {
  padding: 4rem 2rem;
  background-color: var(--ifm-color-emphasis-100);
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.sectionSubtitle {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 3rem;
  text-align: center;
  color: var(--ifm-color-gray-600);
}
